<!-- <% provide(:title, 'Sign up') %> -->
<section class="hero is-success is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="column is-4 is-offset-4">
        <h3 class="title has-text-black">Sign Up</h3>
        <hr class="login-hr">
        <p class="subtitle has-text-black">Please create an account.</p>
        <div class="box">
          <figure class="avatar">
             <%= image_tag "images.png" %>
          </figure>
          <%= form_for(@user) do |f| %>
          <%= render 'shared/error_messages' %>
          <div class="field">
            <div class="control">
              <%= f.text_field :name, class: 'input is-large form-control', placeholder: 'Your Name' %>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <%= f.email_field :email, class: 'input is-large form-control', placeholder: 'Your Email' %>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <%= f.password_field :password, class: 'input is-large form-control', placeholder: 'Your Password' %>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <%= f.password_field :password_confirmation, class: 'input is-large form-control', placeholder: 'Password Confirmation' %>
            </div>
          </div>
          <%= f.submit "Create my account", class: "button is-block is-info is-large is-fullwidth" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>